@use '../../../scss/\ variables.scss' as *;

.sunInfo {
  width: 170px;
  background-color: #fac09a;
  color: $font-color-orange;
  border-radius: 24px;
  padding: 16px;
  align-self: flex-end;
  position: absolute;
  &__title {
    font-weight: $font-weight;
  }
  .sunriseSunset {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    max-height: 200px;
    &__item {
      display: flex;
    }
    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    &__icon {
      max-width: 50px;
      height: 50px;
    }

    &__name {
      font-size: small;
    }
    &__time {
      font-weight: $font-weight;
    }
  }
}

@media (max-width: 524px) {
  .sunInfo {
    box-sizing: border-box;
    width: calc(100% - 50px);
    padding: 15px 35px;

    .sunriseSunset {
      justify-content: space-around;
    }

    &__title {
      font-weight: $font-weight;
      text-align: center;
    }
  }
}
