@use "../../../scss/styles.scss" as *;

.tabs {
    display: flex;
    gap: 15px;
    .tabItem {
      box-sizing: border-box;
      padding: 20px;
      background-color: #ffffff;
      height: 140px;
      width: 95px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-weight: $font-weight;
      color: white;
      background: linear-gradient(to bottom, #9cc2f7, #5d93df);
      box-shadow: 2px -3px 5px rgba(0, 0, 0, 0.1);
      &:hover {
        box-shadow: 2px -3px 5px rgba(0, 0, 0, 0.2);
        background: linear-gradient(to bottom, #a3c3f0, #78aaf0);
      }
      &.-active {
        background: linear-gradient(to bottom, #b6d6ff, #ffffff);
        color: #333;
      }
      &__temperatures {
        display: flex;
        gap: 15px;
      }
  
    }

  }
