@use '../../../scss/styles.scss' as *;

.tabs {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  &::-webkit-scrollbar {
    height: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: #fef5da;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #f1e6c4;
    border: 2px solid #fef5da;
    border-radius: 40px;
    &:hover {
      box-shadow: 0px 0px 5px rgba(121, 121, 121, 0.342);
    }
  }

  .tabItem {
    box-sizing: border-box;
    padding: 15px;
    height: 140px;
    min-width: 95px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: $font-weight;
    color: $font-color;
    border: 1px solid #e2d3a6;
    border-bottom: none;
    background: linear-gradient(0deg, rgb(250, 236, 194) 0%, rgba(254, 245, 218, 1) 100%);
    &:hover {
      box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.08);
    }
    &.-active {
      box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.08);
      background: linear-gradient(0deg, rgb(254, 245, 218, 1) 0%, rgba(254, 245, 218, 1) 100%);
    }
    &__icon {
      max-width: 50px;
      height: 50px;
    }
    &__temperatures {
      display: flex;
      gap: 15px;
    }
  }
}
