@use '../../../scss/styles.scss' as *;

.cardsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 120px;
  .card {
    display: grid;
    grid-template-areas: 'title image' 'value image';
    box-sizing: border-box;
    padding: 15px;
    background: #b4d78b;
    color: #495738;
    border-radius: 24px;
    height: 96px;
    width: 100%;
    min-height: 96px;
    &__title {
      grid-area: title;
    }
    &__value {
      grid-area: value;
      font-size: large;
      font-weight: $font-weight;
      color: $font-color;
      align-self: start;
    }
    &__icon {
      grid-area: image;
      place-self: center;
      width: 54px;
      height: 54px;
    }
  }
}

@media (min-width: 411px) and (max-width: 575px) {
  .cardsContainer {
    flex-direction: row;
    .card {
      height: 110px;
      &__icon {
        grid-area: image;
        place-self: start;
        width: 42px;
        height: 42px;
      }
    }
  }
}

@media (max-width: 411px) {
  .cardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    .card {
      grid-template-areas: 'title image' 'value value';

      width: 100%;
      &__title {
        font-size: small;
        align-self: center;
      }
      &__value {
        width: 100%;
        font-size: medium;
      }
      &__icon {
        align-self: start;
        width: 24px;
        height: 24px;
      }
    }
  }
}
