@use "../../../scss/styles.scss" as *;

.cardsContainer {
    .card {
      box-sizing: border-box;
      padding: 15px;
      background-color: $blue-color;
      height: 100px;
      width: 150px;
      border-radius: 15px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      &__textBlock {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      &__title {
        font-size: smaller;
      }
      &__value {
        font-size: large;
        font-weight: $font-weight;
        color: rgb(0, 0, 0);
        color:$font-color;
      }
      &__icon {
        width: 40px;
        height: 40px;
      }
    }
  }
