@use "../../../scss/styles.scss" as *;

.main {
  position: relative;
  box-sizing: border-box;
  max-width: 70%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  background: #f9b891;
  padding: 25px;
  color: #664938;
  border-radius: 24px;
  .temperatureIcon {
    display: flex;
    align-items: center;
    .temperature {
      font-size: 65px;
      max-width: 150px;
    }
  }
  .city{
    font-size: x-large;
  }
  .feelsLike {
    font-weight: $font-weight;
    font-size: large;
  }
  .imageContainer {
    max-width: 250px;
    align-self: flex-end;
    .image {
      max-width: 250px;
    }
  }
}
