@use "../../../scss/styles.scss" as *;

.mainCard {
  position: relative;
  box-sizing: border-box;
  min-width: 70%;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  background: #f9b891;
  padding: 25px;
  color: #664938;
  border-radius: 24px;
  .temperatureIcon {
    display: flex;
    align-items: center;
    .temperature {
      font-size: 65px;
      max-width: 150px;
    }
  }
  .city {
    font-size: x-large;
  }
  .feelsLike {
    font-weight: $font-weight;
    font-size: large;
  }
  // .imageContainer {
  //   max-width: 250px;
  //   align-self: flex-end;

  //   .image {
  //     width: 100%;
  //   }
  // }
}

@media (max-width: 575px) {
  .imageContainer {
    max-width: 140px;
    align-self: flex-start;
    .image {
      max-width: 100%;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .imageContainer {
    max-width: 50%;
    align-self: flex-start;
    .image {
      max-width: 100%;
    }
  }

}

@media (min-width: 576px) {
  .imageContainer {
    max-width: 250px;
    align-self: center;

    .image {
      width: 100%;
    }
  }
}

/* Стили для экранов шириной от 992px и больше */
@media (min-width: 992px) {
  // .imageContainer {
  //   max-width: 250px;
  //   align-self: flex-end;

  //   .image {
  //     width: 100%;
  //   }
  // }

  /* Заданные стили */
}
