@use "../../../scss/styles.scss" as *;

.hourlyContainer {
  color: $font-color;
  width:100%;
  .hourItem {
    &__time {
      font-weight: bold;
      text-align: center;
    }
    &__icon {
      width: 40px;
      height: 40px;
    }
    &__temperature {
      font-weight: bold;
      text-align: center;
    }
  }
  table {
    border-collapse: collapse;
    width: 100%;

   }
  td {
    text-align: center;
  }
  tr {
    ;
  }
  
}
