@use "../../../scss/styles.scss" as *;

.hourlyContainer {
  color: $font-color;
  
  .hourItem {
    width: 100%;
    &__time {
      font-weight: bold;
      text-align: center;
    }
    &__icon {
      width: 40px;
      height: 40px;
    }
    &__temperature {
      font-weight: bold;
      text-align: center;
    }
  }
  table {
    border-collapse: collapse;
    }
  td {
    padding: 10px 10px;
  }
  tr {
    border-bottom: 2px solid 
    #FFBC94
    ;
  }
  
}
