$font-weight: 600;

$bg-color:#FCEEC3;
$light-bg-color: #FEF5DA;
$font-color: #59564D;

$orange-color: #F9B891;
$light-orange-color: #FFBC94;
$font-color-orange: #664938;

$green-color: #B3D58F;
$light-green-color: #B8DB8F;
$font-color-green: #495738;

$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;