@use "_forecast";

.current-weather {
  display: flex;
  justify-content: space-between;
  color: $font-color;
  .main-block {
    .city-name{
      color:black
    }
    .temperature-icon {
      display: flex;
      align-items: center;
      .temperature {
        font-size: 50px;
      }
      img {
        height: 150px;
        width: 150px;
      }
    }
    .feels-like {
      padding: 5px;
      margin-bottom: 5px;
      background-color: $green-color;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      color: black;
      font-weight: $font-weight;
    }

    .sun-block {
      background-color: $yellow-color;
      padding: 15px;
      border-radius: 15px;
      .title {
        font-weight: $font-weight;
        color:black
      }
      .sun-states {
        display: flex;
        margin-top: 5px;
        .sun-state {
          display: flex;
          &__icon {
            width: 50px;
            height: 50px;
          }
          &__info {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
          }
          &__name {
            font-size: small;
            color: rgb(207, 207, 207);
          }
          &__time {
            font-weight: $font-weight;
          }
        }
      }
    }
  }

  .info-block {
    .info {
      box-sizing: border-box;
      margin: 5px;
      padding: 15px;
      background-color: $blue-color;
      height: 100px;
      width: 150px;
      border-radius: 15px;
      display: flex;
      justify-content: space-between;

      &__text-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      &__title {
        font-size: smaller;
      }
      &__value {
        font-size: large;
        font-weight: $font-weight;
        color: rgb(0, 0, 0);
        color:$font-color;
      }
      &__icon {
        width: 40px;
        height: 40px;
      }
    }
  }
}
