$green-color: #cde9d6;
$blue-color: #d2e4fd;
$yellow-color: #fff1cb;
$pink-color: #f8d3cf;
$font-color: #619df0;
$font-weight: 600;

.forecast {
  position: relative;
  .weather-container {
    height: 450px;
    background-color: white;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .days-container {
    display: flex;
    gap: 15px;
  }
  &__item {
    box-sizing: border-box;
    padding: 20px;
    background-color: #ffffff;
    height: 140px;
    width: 95px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: $font-weight;
    color: white;
    background: linear-gradient(to bottom, #9cc2f7, #5d93df);
    box-shadow: 2px -3px 5px rgba(0, 0, 0, 0.1);
    &:hover{
      box-shadow: 2px -3px 5px rgba(0, 0, 0, 0.2);
      background: linear-gradient(to bottom, #a3c3f0, #78aaf0);

    }
    &.-active {
      background: linear-gradient(to bottom, #b6d6ff, #ffffff);
      color: #333;
    }

    .temperatures {
      display: flex;
      gap: 15px;
    }
  }
  .hourly-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 150px;
    background-color: white;
    // padding: 10px;
    border-radius: 10px;

    .hourly {
      width: 100%;
      &__time {
        color: #333;
        font-weight: bold;
        text-align: center;
      }

      &__temperature {
        font-weight: bold;
        text-align: center;
      }
    }
    table {
      border-collapse: collapse;
    }
    td {
      padding: 10px 10px;
    }
    tr {
      border-bottom: 1px solid #e9d08b;
    }
  }
}
