.forecast {
  max-width: 100%;
  .weather-container {
    box-sizing: border-box;
    border: 1px solid #e2d3a6;
    border-top: none;
    background: #fef5da;
    max-width: 100%;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .weather-cards {
      width: 100%;
      height: 75%;
      display: flex;
      gap: 15px;
      flex-wrap: nowrap;
    }
  }
}

@media (max-width: 575px) {
  .forecast {
    .weather-container {
      min-width: 70%;
      .weather-cards {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
