$green-color: #cde9d6;
$blue-color: #d2e4fd;
$yellow-color: #fff1cb;
$pink-color: #f8d3cf;
$font-color: #619df0;
$font-weight: 600;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  background-color: #FEF5DA;
  &__date {
    color: $font-color;
  }
  &__input {
    margin-right: 5px;
    box-sizing: border-box;
    padding: 0 12px;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid $blue-color;
    font-style: italic;
  }
  &__icon {
    width: 20px;
    height: 20px;
  }
  form {
    position: relative;
  }
  .submit-button {
    background-color: white;
    position: absolute;
    right: 15px;
    top: 7px;
    border: none;
  }
}
