.button {
  background-color: #c8d3ba;
  color: #59564d;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  color: $font-color;
  &:hover {
    background-color: #c1ceb2;
  }
  &:active {
    background-color: #bfcab0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
}
